In [ ]:
!pip install xlrd

In [13]:
import pandas as pd

df = pd.read_excel('GSAF5.xls')
df.head(10)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6th September,2025.0,Unprovoked,Australia,NSW,Long Reef Sydney,Surfing,Mercury Psillaskis,M,57,...,Great White Shark,Todd Smith: Andy Currie: Simon De Marchi: Kevi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1st September,2025.0,Unprovoked,USA,Florida,Horseshoe reef Key Largo,Snorkeling,Richard Burrows,M,8,...,Not stated,Todd Smith: US SUN: NY Post: The Guardian: Peo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,30th August,2025.0,Unprovoked,USA,Texas,Galveston,Swimming,Harper Ochoa,F,8,...,Not stated,Bob Myatt GSAF : People:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,18th August,2025.0,Unprovoked,Australia,NSW,Cabarita Beach,Surfing,Brad Ross,M,?,...,5m (16.5ft) Great White,Bob Myatt GSAF The Guardian: 9 News: ABS News:...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,17th August,2025.0,Unprovoked,Bahamas,Atlantic Ocean near Big Grand Cay,North of Grand Bahama near Freeport,Spearfishing,Not stated,M,63,...,Undetermined,Ralph Collier GSAF and Kevin MCMurray Tracking...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.tail(10)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
7040,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,NaN,"A ""chiefess""",F,NaN,...,NaN,Captain W. Young,ND-0010-Puna Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0010,ND.0010,11.0,NaN,NaN
7041,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,NaN,...,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0009-boy-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0009,ND.0009,10.0,NaN,NaN
7042,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,...,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0008-Fisherman2-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0008,ND.0008,9.0,NaN,NaN
7043,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,...,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0007 - Fisherman-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0007,ND.0007,8.0,NaN,NaN
7044,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,NaN,...,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7.0,NaN,NaN
7045,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7046,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7047,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7048,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7049,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [15]:
df.sample(10)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
4452,22-Dec-1963,1963.0,Provoked,SOUTH AFRICA,KwaZulu-Natal,"Next to West Street groyne, Durban",Helping friend land hooked shark,Desmond Woodhams,M,13,...,"Dusky shark, 1 m","M. Levine, GSAF",1963.12.22.a-Woodhams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1963.12.22.a,1963.12.22.a,2595.0,NaN,NaN
3670,02-Apr-1983,1983.0,Invalid,SOUTH AFRICA,KwaZulu-Natal,Mpande,NaN,white male,M,NaN,...,Questionable incident,"Unverified report, NSB",1983.04.02.a-Mapande.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.04.02.a,1983.04.02.a,3377.0,NaN,NaN
5032,Mar-1955,1955.0,Unprovoked,PAPUA NEW GUINEA,"New Ireland, Bismarck Archipelago","Kabiman, West coast",Swimming with speared fish,"Lidua, a male",M,NaN,...,"""small brown-colored shark""",Namatanai Dept. of Public Health; A. M. Rapso...,1955.03.00.b-Liuda.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1955.03.00.b,1955.03.00.b,2015.0,NaN,NaN
4682,Nov-1960,1960.0,Watercraft,SOUTH AFRICA,Western Cape Province,"5 km from Gordon’s Bay, False Bay",Hand lining for shad,"7.5 m boat, occupants: 8 men",NaN,NaN,...,White shark (tooth fragments recovered from hu...,"D. Davies; T. Wallett, p.27-30",1960.11.00.d-GordonsBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.11.00.d,1960.11.00.d,2365.0,NaN,NaN
5751,15-Jul-1931,1931.0,Unprovoked,USA,New Jersey,"Sea Girt, Monmouth County",Swimming,soldier in NJ National Guard,M,NaN,...,NaN,"Daily Courier, 7/21/1931",1931.07.15-SeaGirt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1931.07.15,1931.07.15,1297.0,NaN,NaN
5127,1953,1953.0,Unprovoked,PAPUA NEW GUINEA,Bougainville (North Solomons),"Kahuli, Buka Island",Washing,male,M,NaN,...,NaN,"A. Bleakley; A. M. Rapson, p.148",1953.00.00.b-Kahuli.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1953.00.00.b,1953.00.00.b,1920.0,NaN,NaN
1204,19-Oct-2014,2014.0,Watercraft,USA,California,"Leadbetter Beach, Santa Barbara County",Canoeing,Tara Burnley,F,NaN,...,NaN,"R. Collier, GSAF",2014.10.19-Tara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.10.19,2014.10.19,5844.0,NaN,NaN
4416,30-May-1964,1964.0,Unprovoked,PANAMA,Caribbean Coast,NaN,Standing,W.W. Fitzsimmons,M,47,...,Lemon shark,"H.D. Baldridge, SAF Case #1496",1964.05.30-NV-Fitzsimmons.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1964.05.30,1964.05.30,2631.0,NaN,NaN
1767,27-Jan-2010,2010.0,Unprovoked,AUSTRALIA,Queensland,Archie's Beach,Surfing,Ashley Ramage,M,NaN,...,NaN,"C. Ekstander, GSAF; Bundberg News-Mail, 1/29/2010",2010.01.27-Ramage.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2010.01.27,2010.01.27,5280.0,NaN,NaN
5390,20-Jan-1944,1944.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,"North Beach, Durban",Body surfing,Anthony Bunn,M,22,...,NaN,"M. Levine, GSAF",1944.01.20-Bunn.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.01.20,1944.01.20,1657.0,NaN,NaN

In [16]:
df.index

RangeIndex(start=0, stop=7050, step=1)

In [18]:
df.columns.to_list()

['Date',
 'Year',
 'Type',
 'Country',
 'State',
 'Location',
 'Activity',
 'Name',
 'Sex',
 'Age',
 'Injury',
 'Fatal Y/N',
 'Time',
 'Species ',
 'Source',
 'pdf',
 'href formula',
 'href',
 'Case Number',
 'Case Number.1',
 'original order',
 'Unnamed: 21',
 'Unnamed: 22']

In [20]:
df[['Injury']]

                                                 Injury
0                                    Severe hand injury
1                           Serious abdonminal injuries
2                                  Lacerations to calf
3                                   Leg and foot injury
4                                    Head face and arms
...                                                 ...
7045                                              FATAL
7046                                              FATAL
7047                                              FATAL
7048                                              FATAL
7049  FATAL. "Shark bit him in half, carrying away t...

[7050 rows x 1 columns]

In [22]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            7050 non-null   object
 1   Year            7048 non-null   float64
 2   Type            7032 non-null   object
 3   Country         7000 non-null   object
 4   State           6564 non-null   object
 5   Location        6483 non-null   object
 6   Activity        6465 non-null   object
 7   Name            6831 non-null   object
 8   Sex             6471 non-null   object
 9   Age             4056 non-null   object
 10  Injury          7015 non-null   object
 11  Fatal Y/N       6489 non-null   object
 12  Time            3524 non-null   object
 13  Species         3919 non-null   object
 14  Source          7030 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [36]:
df[['Year']]

        Year
0     2025.0
1     2025.0
2     2025.0
3     2025.0
4     2025.0
...      ...
7045     0.0
7046     0.0
7047     0.0
7048     0.0
7049     0.0

[7050 rows x 1 columns]